<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl" lang="en-US">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10">
<title>BakeshopJS | Just another WordPress site</title>
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="http://local.wordpress.org/xmlrpc.php">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" media="all" href="http://local.wordpress.org/wp-content/themes/buttercream/layouts/ie.css"/>
<![endif]-->
<meta name="robots" content="noindex,follow">

	<!--[if lt IE 9]>
	<script src="http://local.wordpress.org/wp-content/themes/buttercream/js/html5.js" type="text/javascript"></script>
	<![endif]-->
	
    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>	

<!--
<link rel="alternate" type="application/rss+xml" title="BakeshopJS » Feed" href="http://local.wordpress.org/?feed=rss2">
<link rel="alternate" type="application/rss+xml" title="BakeshopJS » Comments Feed" href="http://local.wordpress.org/?feed=comments-rss2">
<link rel="stylesheet" id="googlefonts-css" href="./buttercream/css" type="text/css" media="all">
<link rel="stylesheet" id="mediaie-css" href="./buttercream/ie.css" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="./buttercream/style.css" type="text/css" media="all">
<script type="text/javascript" src="./buttercream/jquery.js"></script>
<script type="text/javascript" src="./buttercream/jquery-migrate.min.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://local.wordpress.org/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://local.wordpress.org/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 3.9">
-->

<style type="text/css">
	#header-imagesm {
		background-image:url('http://cdn.galoretv.com/bakeshopjs/images/cupcake-sm.png');
	}
	.bluebar {
		background-image:url('http://cdn.galoretv.com/bakeshopjs/images/bar-cupcake.png');
	}

	@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

		#header-image img {
			background-image:url('http://cdn.galoretv.com/bakeshopjs/images/cupcake@2x.png');
			background-repeat: no-repeat;
			background-size: 850px 265px;
			padding-right: 9999px;
			background-position: 9999px;
			margin-left: -9999px;
		}

		#header-imagesm {
			background-image:url('http://cdn.galoretv.com/bakeshopjs/images/cupcake-sm@2x.png');
			background-size: 200px auto;
		}
	}
</style>

	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('http://cdn.galoretv.com/bakeshopjs/images/background.png'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>
</head>

<body class="home blog logged-in custom-background style-cupcake">
<div id="page" class="hfeed site">
					<div id="header-image">
			<a href="/" title="BakeshopJS" rel="home">
				<img src="http://cdn.galoretv.com/bakeshopjs/images/cupcake.png" width="850" height="265" alt="">
			</a>
		</div>
						<div id="header-imagesm"></div>
			<div class="bluebar"></div>
	
	<header id="masthead" class="site-header" role="banner">
		<hgroup>
			<h1 class="site-title"><a href="/" title="BakeshopJS" rel="home">BakeshopJS</a></h1>
			<h2 class="site-description">Making web stores sweeter.</h2>
		</hgroup>
	</header><!-- #masthead .site-header -->

	<div id="main">
		<div id="primary" class="site-content">
			<div id="content" role="main" style="position: relative;">


			
				
								
					
<article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
	<header class="entry-header">
		<a class="post-edit-link" style="width: 250px; right: -125px; z-index:20 /**sorry, will clean up**/" href="#">Tip of the day: If you're looking for a crunchy nut substitute try cereals like rice krispies or grape nuts. </a>				<div class="entry-meta">
			<div class="post-date"><a href="#" rel="bookmark" title="Permanent Link toHello world!"><br />Sweet.</a></div>		</div><!-- .entry-meta -->
				
	</header><!-- .entry-header -->

		<div class="entry-content">
			<div class="container" ui-view="main"></div>
		</div><!-- .entry-content -->
	
	<footer class="entry-meta">
					
		
		
	</footer><!-- #entry-meta -->
</article><!-- #post-1 -->
				
			
			</div><!-- #content -->
		</div><!-- #primary .site-content -->
			<nav role="navigation" id="nav-below" class="site-navigation paging-navigation">
		<h1 class="assistive-text">Post navigation</h1>

		
	</nav><!-- #nav-below -->
		</div><!-- #main -->

	<div class="sidebars">
				<div id="sidebar-1" class="widget-area" role="complementary">
											</div><!-- #secondary .widget-area -->
				<div id="sidebar-2" class="widget-area" role="complementary">
											</div><!-- #secondary .widget-area -->
				<div id="sidebar-3" class="widget-area" role="complementary">
											</div><!-- #secondary .widget-area -->
	</div>
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
						<a href="#" target="_blank" title="Buttercream Theme by Caroline Moore">Buttercream Theme by Caroline Moore</a> |
			Copyright 2014 BakeshopJS |
			<a href="#" target="_blank" title="Powered by Gcore">Powered by Gcore</a>
		</div><!-- .site-info -->
	</footer><!-- .site-footer .site-footer -->
	</div><!-- #page .hfeed .site -->
	
<!--	
<script type="text/javascript" src="./buttercream/small-menu.js"></script>
-->


</body></html>