<div class="home" ng-init="loader_huge = true">
	<h1 class="page-header">{{header_title}}</h1>
					<img src="http://cdn.galoretv.com/bakeshopjs/images/loader-huge.gif" class="loader-huge" ng-show="loader_huge"/>

	<div class="gallery">
		<div class="row">
			<div class="col-md-3">
				<a href="/products/red-velvet-cupcakes"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/1381939_435649716555995_733916985_n.jpg" /></a>
				<h3><a href="/products/red-velvet-cupcakes">Red Velvet Cupcakes</a></h3>
			</div>
			
			<div class="col-md-3">
				<a href="/products/blueberry-peach-buttercake"><img src="https://scontent-a-hkg.xx.fbcdn.net/hphotos-frc3/t1.0-9/1380357_430307663756867_770089118_n.jpg" /></a>
				<h3><a href="/products/blueberry-peach-buttercake">Blueberry Peach Buttercake</a></h3>
			</div>
			
			<div class="col-md-3">
				<a href="/products/sesame-street-cupcakes"><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/p417x417/485495_441061286014838_1118795273_n.jpg" /></a>
				<h3><a href="/products/sesame-street-cupcakes">Sesame Street Cupcakes</a></h3>
			</div>
			
			<div class="col-md-3">
				<a href="/products/animal-cupcakes"><img src="https://scontent-b-hkg.xx.fbcdn.net/hphotos-ash3/t1.0-9/p417x417/936273_359250334195934_1603327146_n.jpg" /></a>
				<h3><a href="/products/animal-cupcakes">Animal Cupcakes</a></h3>
			</div>						
		</div>
		<div class="row">
			<div class="col-md-3">
				<a href="/products/red-velvet-cupcakes"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/1381939_435649716555995_733916985_n.jpg" /></a>
				<h3><a href="/products/red-velvet-cupcakes">Red Velvet Cupcakes</a></h3>
			</div>
			
			<div class="col-md-3">
				<a href="/products/blueberry-peach-buttercake"><img src="https://scontent-a-hkg.xx.fbcdn.net/hphotos-frc3/t1.0-9/1380357_430307663756867_770089118_n.jpg" /></a>
				<h3><a href="/products/blueberry-peach-buttercake">Blueberry Peach Buttercake</a></h3>
			</div>
			
			<div class="col-md-3">
				<a href="/products/sesame-street-cupcakes"><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/p417x417/485495_441061286014838_1118795273_n.jpg" /></a>
				<h3><a href="/products/sesame-street-cupcakes">Sesame Street Cupcakes</a></h3>
			</div>
			
			<div class="col-md-3">
				<a href="/products/animal-cupcakes"><img src="https://scontent-b-hkg.xx.fbcdn.net/hphotos-ash3/t1.0-9/p417x417/936273_359250334195934_1603327146_n.jpg" /></a>
				<h3><a href="/products/animal-cupcakes">Animal Cupcakes</a></h3>
			</div>						
		</div>		
	</div>
</div>