.home {
  #content {
    .gallery {
    
      a {
        color: inherit;
        &:hover {   
          text-decoration: underline;
         }   
      }
        
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}